@import url('../css/maps.css');
@import url('../css/classy-nav.min.css');

/*
colors and styles
1.Header Mainpage
2.Navigaton
3.
4.
5.
6.
7.
8.
9.
10.
==============================================
/*
postions and responsives styles
1.Resposive header pc
2.Navigaton
3.
4.
5.
6.
7.
8.
9.
10.

*/


/*=================================================
1 . - Header-Mainpage colors and styles
===================================================*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

nav ul {
    float: left;

}


ul.data_navigation {
    float: right;
}

nav ul li {
    float: left;
}

.data_navigation {
    margin-top: 30px;
}

nav ul li {
    display: block;
    color: var(--color_background);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item-data {
    font-size: var(--font_parrafo_pc);
    font-family: var(--font-noto);
    color: var(--color_background);


}

.time_data {
    float: right;
    margin-top: -30px;
}

.nav_item_phone {
    font-size: var(--font_parrafo_pc);
    font-family: var(--font-noto);
    font-weight: var(--font_Regular);
    color: var(--color_background);
}

.item-phone {
    color: var(--color_background);
    font-family: var(--font-noto);
    font-size: var(--font_navigation_nav_time_pc);
    font-weight: var(--font_Regular);

}

.icon_phone {
    max-width: 20px;
}





embed {
    width: 20px;
}




/*=================================================
2 . - slider colors and styles
===================================================*/
.carousel_section {
    margin-top: -16%;
}

/* carousel */
.carousel {
    position: relative;
}

.carousel_inner {
    width: 100%;
    overflow: hidden;
}

.carousel_inner::after {
    content: "";
    display: block;
    clear: both;
}




.carousel_item {
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%;
}

.carousel_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
    filter: brightness(50%);

}



/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next {
    display: block;
}

.carousel_item__pos_prev {
    left: -100%;
}

.carousel_item__pos_next {
    left: 100%;
}

.carousel_item__prev {
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.carousel_item__next {
    transform: translateX(100%);
    transition: transform .10s ease-in-out;
}





/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next {
    left: 0;
    opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next {
    transform: none;
    opacity: 1;
    transition: opacity .9s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next {
    opacity: 0;
}

@keyframes zoom {
    100% {
        transform: scale(1.5);
    }

}

/* carousel */
.carousel_img {
    display: block;
    width: 100%;
}

.carousel_caption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem 4rem;
    text-align: left;
    color: #fff;
    z-index: 1;
    margin-left: 100px;
}

.carousel_title {
    font-family: var(--font-noto);
    font-size: var(--font_h1_slider_pc);
    font-weight: var(--font_Bold);
}

.carousel_description {
    transform-origin: 100% 50%;
    transform: rotateZ(-90deg);
    left: -215px;
    position: absolute;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: var(--font-lato);
    color: var(--color_sub);
}


.carousel_caption>.linea {
    border: 0;
    height: .3rem;
    width: 40%;
    background-image: linear-gradient(170deg, #fff, #fff, #f0f0f0, #f0f0f0, #f0f0f0, var(--gradient_main), var(--gradient_main), var(--gradient_main));
}

/*Navigation style */

.header-area .academy-main-menu {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 82%;
    z-index: 1000;
    left: 0;
    right: 0;
}

.content-menu {

    position: relative;
    margin: auto;
    width: 58.33333333%;



}

.sticky-wrapper {
    height: 0px !important;
}

.header-area .academy-main-menu .classy-nav-container {
    background-color: transparent;
}

.header-area .academy-main-menu .classy-navbar {
    background-color: #f5f7fa;
    height: 50px;
    padding: 0;

}


.header-area .is-sticky .academy-main-menu {
    position: fixed;
    width: 100%;
    height: 49px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f5f7fa;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
    background-image: url("../assets/img/icons/logo-blue.svg");
    background-repeat: no-repeat;
    background-position-x: 2%;

}


.header-area .is-sticky .academy-main-menu::after {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    content: '';
}


.button-menu {
    background: linear-gradient(170deg, var(--gradiend_sub), var(--gradient_main));
    padding: 6px 18px 6px;
    font-size: var(--font_parrafo_pc);
    font-family: var(--font-noto);
    color: var(--color_background);
    border-radius: 12px;
    border-color: transparent;
    display: flex;
    transition: all 0.4s ease-in;
}

.button-menu:hover {
    background-color: var(--gradiend_sub);

}

.button-menu embed {
    width: 28px;
    padding-right: 4px;


}

/*lead*/

.lead {
    background-color: var(--color_sub_background);
    margin-top: -50px;


}

.lead-text {
    font-size: 120px;
    color: var(--color_background);
    font-family: var(--font-lato);
    font-weight: var(--font_Bold);
    letter-spacing: 1.5px;
    margin-bottom: -38px;

}

.content-lead-parragraf {
    position: relative;
    margin: auto;
    padding-block-end: 50px;

}

.content-lead-parragraf p {
    color: var(--color_main);
    font-size: var(--font_parrafo_lead_pc);
    font-family: var(--font-noto);
    font-weight: var(--font_Bold);
    letter-spacing: 2px;
    line-height: 2;


}

/*news*/
.news {
    width: 70%;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.news-list>ul>li {
    border-block-end-color: black;
    border-block-end-style: dotted;
    border-block-end-width: 1px;
}

.news-list>ul>li:nth-child(1) {
    border-top-color: black;
    border-top-style: dotted;
    border-top-width: 1px;
}

.news-title>.title-lat {
    margin-bottom: 20px;
    color: var(--color_sub);
    letter-spacing: 1.5px;
    font-family: var(--font-lato);
    font-weight: var(--font_Bold);
    font-size: var(--font_h2_lato_pc);
}

.news-title>.title-not {
    margin-bottom: 45px;
    font-family: var(--font-noto);
    color: var(--color_main);
    font-weight: var(--font_Bold);
    font-size: var(--font_h2_pc_noto);
}

.news-title {
    text-align: center;
}

.news-list>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    transition: all 8s ease;
}




.content-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.content-img>.crops {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}


.content-img>.svg {
    background-color: var(--color_sub_background);
    padding: 27px;
}


.news-list>ul>li>p>a>span {
    transition: all 3s ease;
    margin-left: 20px;
    margin-right: 20px;
    font-family: var(--font-lato);
    background-color: var(--color_sub);
    padding: 5px;

}




.news-list>ul>li>p>a:hover {
    color: var(--gradient_main);
}

.news-list>ul>li>p>a:hover span {
    color: var(--color_background);
    background-color: var(--gradient_main);
}

.news-list>ul>li>span:hover,
.news-list>ul>li:hover {
    background-color: var(--gradient_main);
    background-color: var(--color_sub_background);
}



.news-list>ul>li>p>a {
    font-family: var(--font-noto);
    color: var(--color_plane);
    font-weight: var(--font_Regular);
    font-size: var(--font_parrafo_pc);
}

.read-more-list {
    display: flex;
    justify-content: end;

}


.read-more-list>.select-item-read {
    padding: 5px;
    margin-top: 6px;
    font-family: var(--font-lato);
    letter-spacing: 1.5px;
    font-size: var(--font_parrafo_pc);
    background-color: var(--color_background);
    padding: 10px;
    font-weight: 500;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
    display: flex;
    margin-top: 20px;


}

.read-more-list>.select-item-read:hover {

    border: 2px solid var(--color_main);
    padding-right: 5px;
    padding-left: 5px;
    color: var(--color_background);
    background-color: var(--color_main);




}

/*area 1*/
.background-Area1 {
    background-color: var(--color_sub_background);
    margin-top: 80px;
    margin-bottom: 80px;
}

.engine {
    background-color: var(--color_background);
}

.engine embed {
    width: 20%;
    margin-left: -70%;
    margin-top: 36px;
}

.Area1 {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 450px;
    padding-top: 90px;

}

.title_item {
    position: absolute;
    z-index: 5;
    padding: 10%;
    top: 0px;
    padding-left: 15%;
    padding-right: 1%;
    padding-top: 150px;
    padding-bottom: 80px;
}

.title_item>.title {
    font-size: var(--font_h2_lato_pc);
    font-family: var(--font-lato);
    font-weight: var(--font_Bold);
    color: var(--color_sub);
    letter-spacing: 1.5px;
    text-align: center;

}

.title_item>.sub_title {
    font-size: var(--font_h2_pc_noto);
    font-family: var(--font-noto);
    color: var(--color_main);
    letter-spacing: 1.5;
    text-align: center;

}



.item_crop {
    position: relative;
    height: 380px;
    width: auto;
    margin-top: 190px;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}


.button_row {
    z-index: 100;

    margin-top: -100px;
    margin-left: 10.55%;
    right: auto;
    margin-bottom: auto;
}

.read_more {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    font-weight: var(--font_Bold);
    background-color: var(--color_background);
    border-radius: 4px;
    padding-top: 10px;
    border-color: transparent;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 11px;
    display: flex;
    margin-top: 20px;
}




.img_profile {
    width: 380px;
    height: 580px;
    position: relative;
    overflow: hidden;
    margin: 1px;
    overflow: hidden;

}

.text-caption {
    width: 380px;
    height: 700px;
    position: absolute;
    background: rgba(0, 100, 150, 0.3);
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 1s ease-in-out;



}

.img_profile:hover .text-caption {
    top: 0%;
}

.img_profile:hover .item_crop {
    margin-block-start: -120px;
    height: 700px;
    max-width: auto;


}

.item_crop:hover .title_item {
    color: white;
}

.text-caption {
    text-align: center;
    line-height: 40px;
    padding-top: 40%;

}

/*area 2*/
.Area_title {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_sub);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);

}

.Area_text {
    font-family: var(--font-noto);
    font-size: var(--font_h2_pc_noto);
    color: var(--color_main);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
    padding-right: 14.4%;
    padding-left: 0px;
}

.Area_sub_title {
    font-family: var(--font-noto);
    font-size: var(--font_h3_pc);
    color: var(--color_main);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
    margin-top: 20px;

}

.Area_text_2 {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_plane);
    letter-spacing: 2px;
    font-weight: var(--font_Regular);
    padding-right: 14.4%;
    padding-left: 0px;

}



.Area2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
    padding-top: 90px;

}


.Area2_img>img {
    width: 70%;
    height: auto;
    filter: brightness(.65);
}

.background-Area2 {
    background-color: var(--color_sub_background);
    margin-top: 80px;
    margin-bottom: 80px;
}

.Area2_text_area.col-lg-4 {
    background-color: var(--color_background);
    padding-left: 80px;
    margin-left: -9%;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-top: 30px;
    line-height: 40px;

}

.button_row_2 {

    display: flex;
    margin-top: 20px;
}



.read_more_area2 {
    padding: 9.5px;
    background-color: var(--color_main);
    border-color: transparent;
    border-radius: 6px;
    color: var(--color_background);
    font-size: var(--font_h2_lato_pc);
    font-family: var(--font-lato);
    display: flex;
}

.row_icon {
    background-color: white;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    padding: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;

}



.row_icon_black {

    background-color: var(--color_main);
    border-radius: 100%;
    width: 19px;
    height: 19px;
    padding: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: var(--color_background);
    font-size: var(--font_parrafo_pc);
    font-weight: var(--font_Bold);
}

/*area 3*/
.Area_title_3 {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_sub);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
    padding-right: 150px;
    line-height: 1.6;

}

.Area_sub_title_3 {
    font-family: var(--font-noto);
    font-size: var(--font_h2_pc_noto);
    color: var(--color_main);
    letter-spacing: 2px;
    font-weight: var(--font_Bold);
    line-height: 1.5;
}

.Area_text_3 {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_main);
    letter-spacing: 2px;
    font-weight: var(--font_Regular);

}


.text_dog_area3 {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);
    position: absolute;
    z-index: 50;
    margin-top: -230px;
    margin-left: 70px;
    width: 150px;
    padding-left: 10px;
    padding-bottom: 15px;


}

.Area3_img>img {
    width: 100%;
    height: auto;
    padding-right: 80px;
}

.background-Area3 {
    background-color: var(--color_sub_background);
    margin-top: 80px;
    margin-bottom: 400px;

}

.Area3 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
    padding-top: 90px;
    margin-top: 300px;

}


.Area3_img.col-lg-6 {
    float: inline-end;
}


.dog_area3 {
    margin-top: -14%;
    z-index: 50;
    position: absolute;
    size: auto;
    width: 250px !important;
    height: 250px !important;
    display: flex;
    margin-left: 60px;
}

.area_img_back {
    filter: brightness(.47);
}

.Area3_text_area.col-lg-4 {
    background-color: var(--color_background);
    padding-left: 80px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-top: 30px;
    line-height: 40px;
    margin-left: 16%;


}

.button_row_3 {

    display: flex;
    margin-top: 20px;
}



.read_more_area3 {
    padding: 9.5px;
    background-color: var(--color_main);
    border-color: transparent;
    border-radius: 6px;
    color: var(--color_background);
    font-size: var(--font_h2_lato_pc);
    font-family: var(--font-lato);
    display: flex;
}


.row_icon {
    background-color: var(--color_background);
    border-radius: 100%;
    width: 19px;
    height: 19px;
    padding: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;

}




/*instagram*/
.instagram>h5 {
    font-family: var(--font-noto);
    font-size: var(--font_h5_pc);
    color: var(--color_main);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
}

.instagram>p {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_main);
    letter-spacing: 2px;
    font-weight: var(--font_Regular);

}

.buttons>h2 {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
}


.item_instagram {
    display: grid;
    grid-template-rows: repeat(2, 0fr);
    grid-template-columns: repeat(5, 1fr);
    padding: 25px;
    width: 75%;
    margin: auto;

}

.Instagram_feed {
    background-color: var(--color_sub_background);
    padding: 100px;
}

.arco {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    border-color: var(--gradient_main);
    border-style: solid;
    border-width: 5px;
    display: flow-root;
    margin-left: -120px;
}

.circle {
    background-color: var(--gradient_main);
    padding: 15px;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.logo_instagram {
    width: 37px;
}

.instagram {
    width: 32.335%;
    margin: auto;
    margin-bottom: auto;
    display: flow-root;
    margin-bottom: 20px;
    padding-top: 20px;
    position: relative;
    height: auto;
}

.buttons_inst {
    margin: auto;
    position: relative;
    height: auto;
    display: flex;
    width: 15.55%;
}

.button_inst_1 {
    background-color: #182045;
    color: var(--color_background);
    border-color: transparent;
    font-size: var(--font_h2_lato_pc);
    font-family: var(--font-lato);
    padding: 5px;
    margin-right: 3px;
}

.button_inst_2 {
    background-color: #b02221;
    color: var(--color_background);
    border-color: transparent;
    font-size: var(--font_h2_lato_pc);
    font-family: var(--font-lato);
    padding: 5px;
    display: flex;
}

.icon-instagram {
    width: 15px;
    margin-left: 6px;
    margin-right: 6px;

}

/*contact*/
.container_contact>.title_contact {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
    text-align: center;
    margin-bottom: 12px;

}

.container_contact>.titlesub_contact {
    font-family: var(--font-noto);
    font-size: var(--font_h2_pc_noto);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
    text-align: center;
    margin-bottom: 12px;


}

.container_contact>.text_contact>h4 {

    font-family: var(--font-noto);
    font-size: var(--font_h4_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;


}

.Phone_contact>ul>li>h2 {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Medium);
    margin-left: 17px;


}

.Phone_contact>ul>li>h5 {
    font-family: var(--font-noto);
    font-size: var(--font_h5_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);



}

.contact {

    background-image: url("../assets/img/contact/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 31%;
    top: 100%;
    transition: top 0.5s;
    height: 400px;
    position: relative;

}

.contact:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color_filtro);
}

.contact {
    width: 100%;
    margin: auto;
    display: flex;
    height: auto;
}


.information_contact {
    z-index: 50;
    width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 90px;
}

.text_contact {

    width: 55%;
    margin: auto;
    display: flex;

}


.buttons_contact {
    display: flex;
    margin: auto;
    margin-top: 100px;
}

.button_mail.col-lg-6>.button_mail_button {
    background: linear-gradient(220deg, var(--gradiend_sub), var(--gradient_main));
    color: var(--color_background);
    font-size: var(--font_parrafo_pc);
    font-family: var(--font-noto);
    padding: 8px;
    border-color: transparent;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 7px;
}

.button_mail_button embed {
    width: 28px;
    padding-right: 4px;


}

.line {
    margin-top: 85px;
    border: 0;
    height: .2rem;
    background-image: linear-gradient(260deg, #fff, #fff, var(--gradient_main), var(--gradient_main), var(--gradient_main));

}


/*footer*/
.title-footer {

    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);

}

.Menu_footer>.footer_items>ul>li>p {

    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);

}

.Menu_footer>.footer_items>ul>li>p {

    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);

}

.Menu_footer>.footer_items>ul>li>h2 {

    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);

}

.Menu_footer>.footer_items>.submenu>p {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);
}


.footer_items>ul>ul.submenu>p {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);
}


.footer_items>ul>ul.submenu>li>p {
    font-family: var(--font-noto);
    font-size: var(--font_parrafo_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Regular);
}


.row_copy {
    font-family: var(--font-lato);
    font-size: var(--font_h2_lato_pc);
    color: var(--color_background);
    letter-spacing: 1.5px;
    font-weight: var(--font_Bold);
    display: flex;
    justify-content: center;

}

.copy {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin: auto;
    width: 100%;
    height: auto;
}

footer {
    background: linear-gradient(170deg, var(--gradiend_sub), var(--gradient_main));
}

.Menu_footer {
    width: 50%;
    margin: auto;
    position: relative;
}


.title-footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo_img>embed {

    width: 5%;
    margin-top: 20px;
}

.logo_img {
    display: flex;
    justify-content: center;
}

.submenu {
    padding-left: 15px;
}

.viñeta {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: absolute;
    width: 6px;
    height: 6px;
    z-index: 274;
    margin-left: -10px;
    margin-top: 7px;
}


/*=============================================
1.-RESPONSIVE PANTALLA DE PHONES
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px) {

    .logo_container {

        margin-bottom: 10px;
        margin-left: -7%;
        margin-right: 15%;
        ;
    }

    .nav_container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0px 0px 30px 0px;


    }

    .logo-img {
        max-width: 55%;
        height: auto;
        margin-left: auto;
        margin-right: auto;


    }


    .nav_navigation {
        color: var(--bg_white);
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }


    .nav_time {
        display: flex;
        justify-content: center;
        margin: 0px;
    }


    .nav_container>.nav_navigation>.nav_item>.nav_item_information {
        font-size: var(--font_parrafo_mb);
        font-family: var(--font-noto)
    }

    .nav_container>.nav_navigation>.nav_item>.nav_item_phone {
        font-size: var(--font_parrafo_mb);


    }



    .nav_time {

        font-size: var(--font_navigation_nav_time_mb);


    }


    /*=================================================
2 . - slider responsive
===================================================*/
    .carousel_caption {
        margin-left: 50px;
    }








    .carousel_section {
        margin-top: -55%;
    }


    .carousel_item img {
        width: auto;
        height: 600px;
    }

    .carousel_title {
        font-size: 27px;
    }


    .carousel_description {
        left: -28%;
        font-size: var(--font_p4);
        margin-bottom: 40%;
    }

    .carousel_caption>.linea {
        width: 100%;
    }









}



/* Medium devices (tablets, 768px and up)*/
@media(min-width: 768px) {


    .logo_container {
        margin-top: 30px;
        display: block ruby;
        margin-left: 0px;
    }

    .nav_container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0px 0px 30px 0px;


    }

    .logo-img {
        max-width: 100%;



    }


    .nav_navigation {

        margin: auto;

    }


    .nav_time {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .nav_navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }










    .carousel_description {
        margin-bottom: 18.6%;
        margin-top: -12%;
    }

    .header-area .academy-main-menu {

        top: 65%;
    }

    .lead-text {
        font-size: 50px;
    }

    .lead {

        margin-top: 50px;
    }

    .content-menu {

        width: 100%;
    }

    .header-area .academy-main-menu {
        top: 40%;
    }

    .content-lead-parragraf {
        width: 80%;
        margin-top: 27px;
    }

}

/*=============================================
2.-RESPONSIVE ESCRITORIO MEDIANO
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px) {

    .carousel_description {

        margin-bottom: 4.6%;
        margin-top: -14.6%;

    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}







/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*=================================================
1 . - Header-Mainpage
===================================================*/

    .logo-img {
        max-width: 60%;
        height: auto;
        margin-left: 50px;
        margin-right: 50px;

    }

    .nav_container>.nav_navigation>.nav_item {
        padding-right: 10px;
    }

    .carousel_description {
        margin-bottom: 6.6%;
        margin-top: -12%;
    }



    .header-area .academy-main-menu {
        top: 63%;

    }

    .content-menu {
        width: 83%;
    }

    .lead-text {
        font-size: 83px;
        margin-top: 18px;
    }

    .content-lead-parragraf {
        width: 60%;
    }

    .news {
        width: 79%;

    }

    .Area2_text_area.col-lg-4 {
        line-height: 30px;
    }

    .dog_area3 {
        margin-top: -21%;
    }

    .Area3_text_area.col-lg-4 {
        margin-left: 9%;
    }

    .buttons_inst {
        width: 30%;
    }

    .buttons_contact {

        margin-top: 80px;
    }

    .text_contact {
        width: 58%;

    }
}


@media(min-width: 1024px) {

    /*=================================================
1 . - Header-Mainpage colors and styles
===================================================*/
    .logo-img {
        max-width: 30%;
        margin-top: 30px;
        margin-left: 50px;
    }

    nav ul {

        margin-left: 10%;
    }

    nav {
        margin-top: -10px;
    }

    /*=================================================
2 . - carousel
===================================================*/

    .carousel_description {
        margin-bottom: 4.6%;
        margin-top: -18.6%;
    }

    .carousel_caption {
        margin-top: 62px;
    }

    /*===================================================
3.-lead
===================================================*/
    .lead {
        margin-top: 0px;
    }


    /*=====================================================
news
=====================================================*/
    .news {
        width: 85%;

    }

    /*===================================================
3.-area2
===================================================*/

    .Area2_text_area.col-lg-4 {
        line-height: 28px;
        padding: 30px;
    }

    .item_crop {
        width: 54.55%;
        height: 53%;
    }

    /*=======================================================
    4.- area3
 ===========================================================*/

    .dog_area3 {
        margin-top: -27%;
    }

    .Area_title_3 {
        padding-right: 150px;

    }


    .Area3_text_area.col-lg-4 {

        padding-left: 50px;
        padding-bottom: 30px;
        padding-right: 18px;
        padding-top: 30px;
        line-height: 20px;
        margin-left: 35px;
        margin-right: 60px;
    }

    .Area3_img>img {

        padding-right: 50px;
    }

    /*==============================
5.- instagram
===============================*/
    .instagram {
        width: 50%;
    }

    .buttons_inst {
        width: auto;
        justify-content: center;
    }

    .item_instagram {
        width: auto;

    }

    /*==============================
6.- contact
===============================*/

    .text_contact {
        width: 90%;
    }

    .button_mail.col-lg-6>.button_mail_button {

        padding-left: 30px;
        padding-right: 30px;

    }

    .Phone_contact>ul>li>h2 {
        margin-left: -15%;
    }

    .Phone_contact>ul>li>h5 {
        margin-left: -15%;
    }

    /*==============================
footer
===============================*/

    .Menu_footer {
        width: 70%;

    }

}



@media(min-width: 1024px) {

    /*=================================================
1 . - Header-Mainpage colors and styles
===================================================*/
    .logo-img {
        max-width: 30%;
        margin-top: 30px;
        margin-left: 50px;
    }

    nav ul {

        margin-left: 10%;
    }

    nav {
        margin-top: -10px;
    }

    /*=================================================
2 . - carousel
===================================================*/

    .carousel_description {
        margin-bottom: 4.6%;
        margin-top: -18.6%;
    }

    .carousel_caption {
        margin-top: 62px;
    }

    /*===================================================
3.-lead
===================================================*/
    .lead {
        margin-top: 0px;
    }


    /*=====================================================
news
=====================================================*/
    .news {
        width: 85%;

    }

    /*===================================================
3.-area2
===================================================*/

    .Area2_text_area.col-lg-4 {
        line-height: 28px;
        padding: 30px;
    }

    .item_crop {
        width: 54.55%;
        height: 53%;
    }

    /*=======================================================
    4.- area3
 ===========================================================*/

    .dog_area3 {
        margin-top: -27%;
    }

    .Area_title_3 {
        padding-right: 150px;

    }


    .Area3_text_area.col-lg-4 {

        padding-left: 50px;
        padding-bottom: 30px;
        padding-right: 18px;
        padding-top: 30px;
        line-height: 20px;
        margin-left: 35px;
        margin-right: 60px;
    }

    .Area3_img>img {

        padding-right: 50px;
    }

    /*==============================
5.- instagram
===============================*/
    .instagram {
        width: 50%;
    }

    .buttons_inst {
        width: auto;
        justify-content: center;
    }

    .item_instagram {
        width: auto;

    }

    /*==============================
6.- contact
===============================*/

    .text_contact {
        width: 90%;
    }

    .button_mail.col-lg-6>.button_mail_button {

        padding-left: 30px;
        padding-right: 30px;

    }

    .Phone_contact>ul>li>h2 {
        margin-left: -15%;
    }

    .Phone_contact>ul>li>h5 {
        margin-left: -15%;
    }

    /*==============================
footer
===============================*/

    .Menu_footer {
        width: 70%;

    }

}


@media(min-width: 1280px) {
    /*=======================*
slider
==========================*/

    .carousel_description {
        margin-bottom: 4.6%;
        margin-top: -14.6%;
    }

    /*==============================
lead
===============================*/
    .lead {
        margin-top: -16px;
    }

    /*==============================
area2
===============================*/

    .item_crop {
        width: 70%;
        height: 53%;
    }


    /*==============================
area3
===============================*/

    .dog_area3 {
        margin-top: -20%;
    }

    .Area3_text_area.col-lg-4 {
        padding-left: 30px;

    }


}

    /* XX-Large devices (larger desktops, 1400px and up)*/
    @media(min-width: 1400px) {
        .carousel_description {
            margin-bottom: 2.6%;
            margin-top: -12%;
        }


        .header-area .academy-main-menu .classy-navbar {

            height: auto;
            padding: 0;
        }


        .content-menu {
            width: 74%;
        }


        .header-area .academy-main-menu {

            top: 65%;
        }

        .lead-text {
            font-size: 95px;
        }

        .content-lead-parragraf {
            width: 50%;

        }

        .news {
            width: 70%;
        }


        .Area3 {
            margin-top: 350px;
        }

        .Area3_text_area.col-lg-4 {
            margin-left: 9%;


        }

        .dog_area3 {
            margin-top: -19%;

        }

        .buttons_inst {
            width: 30%;
        }


        .buttons_contact {
            width: 100%;

        }



    }





    /* lXXX-Large devices (larger desktops, 1900px and up)*/
    @media only screen and (min-width: 1900px) {
        .carousel_description {
            margin-bottom: 3%;
            margin-top: -10.6%;
        }


        .header-area .academy-main-menu {
            position: absolute;
            width: 100%;
            background-color: transparent;
            top: 82%;
            z-index: 1000;
            left: 0;
            right: 0;
        }

        .content-menu {

            position: relative;
            margin: auto;
            width: 58.33333333%;
        }


        .lead-text {
            font-size: 120px;

        }

        .lead {

            margin-top: -50px;
        }

        .content-lead-parragra {
            width: 37%;
        }


        .news {

            width: 58.33333333%;
        }

        .dog_area3 {
            margin-top: -14%;

        }


        .buttons_inst {
            width: 15.55%;
        }


        .buttons_contact {

            width: 64%;

        }


    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .academy-main-menu .classy-navbar {
            padding: 0;
            padding-left: 2em;
        }
    }

    @media only screen and (max-width: 767px) {
        .header-area .academy-main-menu .classy-navbar {
            padding: 0;
            padding-left: 2em;
        }
    }

    .header-area .academy-main-menu .classy-navbar .classynav ul li a {
        font-weight: 700;
        text-transform: uppercase;
    }

    .header-area .academy-main-menu .classy-navbar .classynav ul li a:hover,
    .header-area .academy-main-menu .classy-navbar .classynav ul li a:focus {
        color: #69bc5f;
    }

    .header-area .academy-main-menu .classynav {
        padding-left: 2em;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .academy-main-menu .classynav {
            padding-left: 1em;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .academy-main-menu .classynav {
            padding-left: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        .header-area .academy-main-menu .classynav {
            padding-left: 0;
        }
    }

    .header-area .academy-main-menu .calling-info {
        position: relative;
        padding-left: 80px;
        overflow: hidden;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .academy-main-menu .calling-info {
            padding-left: 50px;
        }
    }

    .header-area .academy-main-menu .calling-info .call-center {
        position: relative;
        z-index: 1;
        background: #61ba6d;
        background: -webkit-linear-gradient(to right, #61ba6d, #83c331);
        background: linear-gradient(to right, #61ba6d, #83c331);
        padding: 0 40px;
        line-height: 85px;
        height: 85px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .academy-main-menu .calling-info .call-center {
            padding: 0 15px 0 30px;
        }
    }

    .header-area .academy-main-menu .calling-info .call-center a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        display: block;
    }

    .header-area .academy-main-menu .calling-info .call-center a i {
        width: 45px;
        height: 45px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: inline-block;
        line-height: 41px;
        font-size: 18px;
        text-align: center;
        margin-right: 20px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .academy-main-menu .calling-info .call-center a i {
            margin-right: 10px;
        }
    }

    @media only screen and (max-width: 767px) {
        .header-area .academy-main-menu .calling-info .call-center a span {
            display: none;
        }
    }

    .header-area .academy-main-menu .calling-info .call-center:before {
        position: absolute;
        width: 50px;
        height: 120%;
        top: 3px;
        left: -28px;
        z-index: 1;
        background-color: #61ba6d;
        content: '';
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .academy-main-menu .calling-info .call-center:before {
            width: 42px;
        }
    }