@import url('../css/maps.css');

/*
colors and styles
1.Header Mainpage
2.
3.
4.
5.
6.
7.
8.
9.
10.
==============================================
/*
postions and responsives styles
1.Resposive header pc
2.
3.
4.
5.
6.
7.
8.
9.
10.

*/


/*=================================================
1 . - Header-Mainpage colors and styles
===================================================*/

.header_container_nav {

    position: relative;
    z-index: 1000;

}

.logo_container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.nav_container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.nav_navigation {
    color: var(--bg_white);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 1.5%;


}

.nav_item {
    display: block ruby;
}

.icon_phone {
    max-width: 20px;
}

.nav_container>.nav_navigation>.nav_item>.nav_item_information {
    font-size: var(--font_p3);
    padding: 6px;
    font-family: var(--font-noto);
}

.nav_container>.nav_navigation>.nav_item>.nav_item_phone {
    font-size: var(--font_p2);
    font-weight: bold;
    font-family: var(--font-noto);

}

embed {
    width: 20px;
}

.nav_container>span {
    color: var(--bg_white);
}

.nav_time {
    color: var(--bg_white);
}

.nav_time {
    margin-right: 50px;
    color: var(--bg_white);
    font-size: var(--font_p4);
    display: flex;
    direction: rtl;

}

/*=================================================
2 . - slider colors and styles
===================================================*/
.carousel_section {
    margin-top: -16%;
}

/* carousel */
.carousel {
    position: relative;
}

.carousel_inner {
    width: 100%;
    overflow: hidden;
}

.carousel_inner::after {
    content: "";
    display: block;
    clear: both;
}




.carousel_item {
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%;
}

.carousel_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
    filter: brightness(50%);

}



/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next {
    display: block;
}

.carousel_item__pos_prev {
    left: -100%;
}

.carousel_item__pos_next {
    left: 100%;
}

.carousel_item__prev {
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.carousel_item__next {
    transform: translateX(100%);
    transition: transform .10s ease-in-out;
}





/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next {
    left: 0;
    opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next {
    transform: none;
    opacity: 1;
    transition: opacity .9s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next {
    opacity: 0;
}

@keyframes zoom {
    100% {
        transform: scale(1.5);
    }

}

/* carousel */
.carousel_img {
    display: block;
    width: 100%;
}

.carousel_caption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem 4rem;
    text-align: left;
    color: #fff;
    z-index: 1;
    margin-left: 50px;
}

.carousel_title {
    font-family: var(--font-noto);
    font-size: var(--font_h1);
    font-weight: 600;
}

.carousel_description {
    transform-origin: 100% 50%;
    transform: rotateZ(-90deg);
    left: -256px;
    position: absolute;
    text-transform: uppercase;
    font-size: var(--font_p2);
    margin-bottom: 14.6%;
    font-family: var(--font-lato);
    color: var(--sub_Color);
}


.carousel_caption>.linea {
    border: 0;
    height: .3rem;
    width: 40%;
    background-image: linear-gradient(170deg, #fff, #fff, #f0f0f0, #f0f0f0, #f0f0f0, var(--gradient_main), var(--gradient_main), var(--gradient_main));
}






/*=============================================
1.-RESPONSIVE PC
SCREEN DESKTOP LARGE - LARGE (lg) 
=============================================*/

@media(min-width:1200px) {
    /*=================================================
1 . - Header-Mainpage
===================================================*/

    .logo-img {
        max-width: 60%;
        height: auto;
        margin-left: 50px;
        margin-right: 50px;

    }

    .nav_container>.nav_navigation>.nav_item {
        padding-right: 10px;
    }
}

/*=============================================
2.-RESPONSIVE ESCRITORIO MEDIANO
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px) {


    /*CABEZOTE*/



}

/*=============================================
4.-RESPONSIVE  PANTALLA DE TABLET
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px) {}

/*=============================================
5.-RESPONSIVE PANTALLA DE PHONES
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px) {

    .logo_container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .nav_container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0px 0px 30px 0px;


    }

    .logo-img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;


    }


    .nav_navigation {
        color: var(--bg_white);
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }


    .nav_time {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    /*=================================================
2 . - slider responsive
===================================================*/
    .carousel_section {
        margin-top: -55%;
    }


    .carousel_item img {
        width: auto;
        height: 600px;
    }

    .carousel_title {
        font-size: 27px;
    }


    .carousel_description {
        left: -30%;
        font-size: var(--font_p4);
        margin-bottom: 40%;
    }

    .carousel_caption>.linea {
        width: 100%;
    }

}